@import url("https://fonts.googleapis.com/css2?family=Inter&family=Press+Start+2P&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* BASE */

* {
  outline: none !important;
}

body {
  font-family: "Inter", sans-serif;
}

/* UTIL */

.arcade {
  font-family: "Press Start 2P", monospace;
}

.draggable {
  -webkit-app-region: drag;
}

.not-draggable {
  -webkit-app-region: no-drag;
}

.cursor-crosshair {
  cursor: crosshair;
}

/* ANIMATIONS */

.transition-border {
  transition: 0.2s border-radius ease-out;
}

.transition-slide {
  transition: 0.3s background, 0.3s margin-left;
}

.rounded-50pc {
  border-radius: 50%;
}

/* LAYOUT */

.split {
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr;
  height: calc(100vh - 2rem);
}

/* INPUTS */

.vertical-slider input[type="range"] {
  position: relative;
  right: 4.25rem;
  top: 68.25px;
}
.vertical-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  box-sizing: content-box;
  display: block;
  width: 1rem;
  height: 40px;
  border: 8px white solid;
  background: transparent;
  border-radius: 0.75rem;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5),
    0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  cursor: grab;
}
.vertical-slider input[type="range"]::-moz-range-thumb {
  appearance: none;
  width: 1rem;
  height: 40px;
  border: 8px white solid;
  background: transparent;
  border-radius: 0.75rem;
  box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.5),
    0px 0px 2px 1px rgba(0, 0, 0, 0.5);
  cursor: grab;
}
